<ion-tabs>
  <ion-tab [root]="tab3Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="In der Nähe" tabIcon="compass"></ion-tab>
  <ion-tab [root]="tab1Root" tabTitle="Veranstaltungen" tabIcon="people"></ion-tab>
</ion-tabs>
