page-event-detail {
  ion-label {
    white-space: normal;
  }

  [padding] h2:first-child {
    margin-top: 1rem;
  }

  [border-bottom] {
    border-bottom: 1px solid map-get($colors, light);
    margin-bottom: 1.1rem;
  }

  .item-md h3 {
    margin-bottom: .5rem;
  }
}
