<ion-header>
  <ion-navbar>
    <ion-title *ngIf="meeting">{{meeting.title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (swipe)="swipe($event)">

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullMin="160"
      pullMax="350"
      closeDuration="400"
      snapbackDuration="400"
      pullingText="ziehen um zu aktualisieren"
      refreshingSpinner="crescent"
      refreshingText="aktualisieren...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="meeting">
    <ion-item border-bottom>
      <h2 ion-text color="primary">
        <ion-icon *ngIf="meeting.user_id == my_id" color="primary" small name='person'></ion-icon>
        {{meeting.title}}
      </h2>
      <p>
        <ion-icon small name='locate'></ion-icon>
        {{meeting.location_description}}
      </p>
      <p>
        <ion-icon small name='time'></ion-icon>
        {{meeting.timestamp * 1000 | date:'EEEE, d. MMMM'}} um {{meeting.timestamp * 1000 | date:'H:m'}} Uhr
      </p>
      <p>
        <ion-icon small name='people'></ion-icon>
        {{meeting.current_members}}/{{meeting.max_members}} Teilnehmer
      </p>
    </ion-item>

    <ion-card-content>
      <p>{{meeting.description}}</p>
    </ion-card-content>

    <ion-buttons padding>
      <button *ngIf="meeting.user_id == my_id" ion-button icon-left outline>
        <ion-icon name="checkmark"></ion-icon>
        Veranstalter
      </button>
      <button *ngIf="meeting.user_id != my_id && isVisitor" ion-button icon-left outline>
        <ion-icon name="checkmark"></ion-icon>
        dabei
      </button>
      <button *ngIf="meeting.user_id != my_id && !isVisitor" ion-button icon-left default (tap)="subscribe()">
        <ion-icon name="checkmark"></ion-icon>
        mitmachen
      </button>
      <button *ngIf="meeting.user_id != my_id && isVisitor" ion-button icon-left default (tap)="goToChat()">
        <ion-icon name="chatboxes"></ion-icon>
        an Veranstalter
      </button>
    </ion-buttons>
  </ion-card>

  <ion-card *ngIf="meeting && messages && messages.length > 0">
    <ion-item border-bottom>
      <h2 ion-text color="primary" *ngIf="messages.length == 1">{{messages.length}} Kommentar</h2>
      <h2 ion-text color="primary" *ngIf="messages.length != 1">{{messages.length}} Kommentare</h2>
    </ion-item>

    <ion-item *ngFor="let message of messages" class="wrap item-text-wrap">
      <h3 ion-text color="primary" *ngIf="message.sender_id == my_id">Ich</h3>
      <h3 ion-text color="primary" *ngIf="message.sender_id == meeting.user_id && message.sender_id != my_id">
        Veranstalter</h3>
      <h3 ion-text color="dark-gray" *ngIf="message.sender_id != meeting.user_id && message.sender_id != my_id">
        Gast</h3>
      <p>{{message.text}}</p>
      <p *ngIf="message.timestamp">
        <ion-icon small name='time'></ion-icon>
        {{message.timestamp * 1000 | date:'d.MM'}} um {{message.timestamp * 1000 | date:'H:mm'}} Uhr
      </p>
    </ion-item>
  </ion-card>

  <ion-fab right bottom (tap)="newComment()" *ngIf="meeting && meeting.user_id == my_id || isVisitor">
    <button ion-fab color="primary">
      <ion-icon name="chatboxes"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
