<ion-header>
  <ion-navbar>
    <ion-title>{{other_status}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (swipe)="swipe($event)">

  <ion-card chat-card *ngIf="messages">
    <ion-card-content *ngIf="messages.length == 0">
      Los gehts, trau dich!<br>
      Wenn du auf aktualisieren tippst, werden neue Nachrichten abgerufen.
    </ion-card-content>

    <ion-list>
      <ion-item *ngFor="let message of messages" class="wrap item-text-wrap">
        <p *ngIf="message.sender_id == my_id" ion-text right-text>{{message.text}}</p>
        <p *ngIf="message.sender_id != my_id" ion-text color="primary">{{message.text}}</p>
      </ion-item>
    </ion-list>
  </ion-card>


  <ion-fab left bottom (tap)="getMessages()">
    <button ion-fab color="primary">
      <ion-icon name="refresh"></ion-icon>
    </button>
  </ion-fab>

  <ion-fab right bottom (tap)="sendMessage()">
    <button ion-fab color="primary">
      <ion-icon name="chatboxes"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
