<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullMin="160"
      pullMax="350"
      closeDuration="400"
      snapbackDuration="400"
      pullingText="ziehen um zu aktualisieren"
      refreshingSpinner="crescent"
      refreshingText="aktualisieren...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngIf="chats">
    <ion-card-content border-bottom>
      <h2 ion-text color="primary">Unterhaltungen</h2>
      Wenn ihr einmal geschrieben habt, spielt die Entfernung keine Rolle mehr.
    </ion-card-content>

    <ion-card-content *ngIf="chats.length == 0">
      <p>
        Noch keine Unterhaltungen, schau doch mal unter "In der Nähe" nach neuen Freunden.
      </p>
    </ion-card-content>

    <ion-item *ngFor="let chat of chats" (tap)="goToChat(chat)" border-bottom>
      <p *ngIf="chat.sender_id == me.user_id" ion-text>{{chat.text}}</p>
      <p *ngIf="chat.sender_id != me.user_id" ion-text color="primary">{{chat.text}}</p>
      <p *ngIf="chat.timestamp">
        <ion-icon small name='time'></ion-icon>
        {{chat.timestamp * 1000 | date:'d.MM'}} um {{chat.timestamp * 1000 | date:'H:mm'}} Uhr
      </p>
    </ion-item>
  </ion-card>

  <ion-card *ngIf="visiting">
    <ion-card-content border-bottom>
      <h2 ion-text color="primary">Veranstaltungen</h2>
      Hier werden alle Veranstaltungen gelistet, an denen du teilnimmst.
    </ion-card-content>

    <ion-card-content *ngIf="visiting.length == 0">
      <p>
        Du nimmst noch an keiner Veranstaltung teil, schau doch mal unter "Veranstaltungen" nach Spaß.
      </p>
    </ion-card-content>

    <ion-item *ngFor="let event of visiting" (tap)="goToEventDetail(event)" border-bottom>
      <p ion-text color="dark" *ngIf="event.user_id != me.user_id">
        Von dir: {{event.title}}
      </p>

      <p ion-text color="primary" *ngIf="event.user_id == me.user_id">
        {{event.title}}
      </p>
      <p>
        <ion-icon small name='locate'></ion-icon>
        {{event.location_description}}
      </p>
      <p>
        <ion-icon small name='time'></ion-icon>
        {{event.timestamp * 1000 | date:'EEEE, d. MMMM'}} um {{event.timestamp * 1000 | date:'H:mm'}} Uhr
      </p>
    </ion-item>
  </ion-card>
</ion-content>
