<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
  <ion-refresher-content
    pullingIcon="refresh"
    pullMin="160"
    pullMax="350"
    closeDuration="400"
    snapbackDuration="400"
    pullingText="ziehen um zu aktualisieren"
    refreshingSpinner="crescent"
    refreshingText="aktualisieren...">
  </ion-refresher-content>
</ion-refresher>

  <ion-card>
    <ion-item>
      <h2 ion-text *ngIf="me">Du: <span color="primary">{{me.status}}</span></h2>
      <button ion-button clear item-right icon-only large (tap)="putStatus()">
        <ion-icon name="create"></ion-icon>
      </button>
    </ion-item>

    <ion-card-content>
      <p>
        Hier werden Menschen in deiner Nähe mit ihrem Status angezeigt.
        Um mehr über sie herauszufinden als ihren Status, fange doch ein Gespräch an.
        Jeder freut sich über ein wenig Aufmerksamkeit. <br>
        Ziehen um eure Standorte neu abzugleichen.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!hasLocation">
    <ion-item border-bottom>
      <h2 ion-text color="primary">
        <ion-icon name='warning'></ion-icon>
        Warten auf Standort
      </h2>
    </ion-item>
    <ion-card-content>
      <p>Bitte aktiviere deinen Standort in den Systemeinsellungen.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-item *ngFor="let user of users" (tap)="goToNearChat(user.user_id)" border-bottom>
      <h2 ion-text color="primary" *ngIf="user.status">{{user.status}}</h2>
      <!-- p *ngIf="user.user_id">ID: {{user.user_id}}</p -->
      <p *ngIf="user.distance && user.time">
        <ion-icon small name='pin'></ion-icon>
        {{(user.distance * 1000) | number: "1.0-0"}}m,

        <ion-icon small name='time'></ion-icon>
        {{user.time * 1000 | date:'d.MM'}} um {{user.time * 1000 | date:'H:mm'}} Uhr
      </p>
    </ion-item>
  </ion-card>

</ion-content>
