// http://ionicframework.com/docs/v2/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.button-md {
  text-transform: none;
}

h2 {
  padding-bottom: 1rem;
}

[padding] h2:first-child {
  margin-top: 1rem;
}

[border-bottom] {
  border-bottom: 1px solid map-get($colors, light);
  margin-bottom: 1.1rem;
}

.content, .content-md {
  background: #f0f0f0;
}

.card, .card-md {
  &:last-child {
    margin-bottom: 76px;
  }
}

.bar-button-md {
  padding: 0 .3rem;
  margin: 0;
  height: 48px;
}

.loading-md .loading-wrapper {
  box-shadow: none;
  background: rgba(0, 0, 0, 0);
  border-radius: 100%;
}

[ion-loading] {
  z-index: auto !important;
}

[chat-bar] {
  position: fixed;
  bottom: 5.6rem;
  margin-bottom: 12px;
  left: 0;
  right: 0;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

[chat-card] {
  margin-bottom: 7rem;
}

.button-large-md {
  font-size: 1.5rem;
}
