<ion-header>
  <ion-navbar>
    <ion-title>Neue Veranstaltung</ion-title>
  </ion-navbar>
</ion-header>

<ion-content (swipe)="swipe($event)">

  <ion-card>
    <ion-card-content border-bottom>
      <p>
        Alle Menschen in einem Abstand von 10km von deinem jetzigen Standort können teilnehmen,
        bis die Teilnehmerzahl erreicht ist. <br>
        Bitte passe auf, dass es nicht eskaliert.
      </p>
    </ion-card-content>

    <ion-item>
      <ion-label stacked>Titel</ion-label>
      <ion-input #input [(ngModel)]="meeting.title" placeholder="Veranstaltungstitel"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Ort</ion-label>
      <ion-input [(ngModel)]="meeting.location_description" placeholder="Muss in deiner Nähe sein"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Datum</ion-label>
      <ion-datetime
        displayFormat="D.MM.YYYY"
        [(ngModel)]="meeting.timestamp"
        [max]="maxYear"
        [min]="minDate"
        cancelText="Abbrechen"
        doneText="Speichern"
        monthNames="Januar, Februar, März, April, Mai, Juni, Juli, August, September, Oktober, November, Dezember"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Uhrzeit</ion-label>
      <ion-datetime
        displayFormat="HH:mm"
        pickerFormat="HH:mm"
        cancelText="Abbrechen"
        doneText="Speichern"
        minuteValues="0,15,30,45"
        [(ngModel)]="meeting.timestamp"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label stacked>Max. Teilnehmer</ion-label>
      <ion-input type="number" min="0" max="22" [(ngModel)]="meeting.max_members"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label stacked>Beschreibung</ion-label>
      <ion-textarea [(ngModel)]="meeting.description" placeholder="evtl. zusätzliche Infos"></ion-textarea>
    </ion-item>


    <ion-card-content>
      <button ion-button icon-left full default (tap)="submitEvent()">
        <ion-icon name="checkmark"></ion-icon>
        Veröffentlichen
      </button>
    </ion-card-content>

  </ion-card>
</ion-content>
