page-events {

  .searchbar, .searchbar-md {
    padding: 20px 10px 10px 10px;

    .searchbar-clear-icon {
      padding: 0 13px 0 13px;
      right: 0;
      width: 48px;
    }
  }

  #map {
    width: 100%;
    height: 100%;
  }

}
