<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="refresh"
      pullMin="160"
      pullMax="350"
      closeDuration="400"
      snapbackDuration="400"
      pullingText="ziehen um zu aktualisieren"
      refreshingSpinner="crescent"
      refreshingText="aktualisieren...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-searchbar
    [(ngModel)]="search"
    [showCancelButton]="true"
    (ionInput)="onSearchInput($event)"
    (ionCancel)="onSearchCancel($event)">
  </ion-searchbar>

  <ion-card>
    <ion-item>
      <h2 ion-text color="primary">
        Veranstaltungen
      </h2>
    </ion-item>
    <ion-card-content>
      <p>
        Hier werden Veranstaltungen in deiner Nähe angezeigt.
        Jeder kann anonym Veranstaltungen erstellen, also sei vorsichtig wenn du eine besuchst. <br>
        Zum aktualisieren bitte ziehen.
      </p>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="!hasLocation">
    <ion-item border-bottom>
      <h2 ion-text color="primary">
        <ion-icon name='warning'></ion-icon>
        Warten auf Standort
      </h2>
    </ion-item>
    <ion-card-content>
      <p>Bitte aktiviere deinen Standort in den Systemeinsellungen.</p>
    </ion-card-content>
  </ion-card>


  <ion-card *ngIf="meetings && meetings.length == 0">
    <ion-item border-bottom>
      <h2 ion-text color="primary">Keine Veranstaltungen gefunden</h2>
    </ion-item>
    <ion-card-content>
      <p>Mach doch mit und erstelle eine!</p>
    </ion-card-content>
  </ion-card>

  <ion-card
    *ngFor="let meeting of meetings"
    (tap)="goToEventDetail(meeting.event_id)">

    <ion-item border-bottom>
      <h2 ion-text color="primary">
        <ion-icon *ngIf="meeting.user_id == my_id" color="primary" small name='person'></ion-icon>
        {{meeting.title}}
      </h2>
      <p>
        <ion-icon small name='locate'></ion-icon>
        {{meeting.location_description}}
      </p>
      <p>
        <ion-icon small name='time'></ion-icon>
        {{meeting.timestamp * 1000 | date:'EEEE, d. MMMM'}} um {{meeting.timestamp * 1000 | date:'H:mm'}} Uhr
      </p>
    </ion-item>

    <ion-card-content>
      <p>{{meeting.description}}</p>
    </ion-card-content>

    <ion-row>
      <ion-col center text-right padding>
        <ion-note>
          <!-- ion-icon ion-text color="dark-gray" small name='chatboxes'></ion-icon>
          <span ion-text color="dark-gray"> {{meeting.chat ? meeting.chat.length : 0}}</span -->

          <ion-icon ion-text color="dark-gray" small name='people' margin-left></ion-icon>
          <span ion-text color="dark-gray"> {{meeting.current_members}}/{{meeting.max_members}}</span>
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

  <ion-fab right bottom (tap)="goToEventCreate()" *ngIf="hasLocation">
    <button ion-fab color="primary">
      <ion-icon name="create"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
